node_modules

# Ignore lockfiles we don't use
# package-lock.json
# yarn.lock
# pnpm-lock.yaml
# bun.lock

.DS_Store
.cache
.env

# SQLite database and WAL files
sqlite.db
sqlite.db-shm
sqlite.db-wal

.data
.vercel
.output
.wrangler
.netlify
dist
/build/
/api/
/server/build
/public/build

.tanstack
