#cj-globalnav {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 64px;
  background: var(--background);
  color: var(--foreground);
  user-select: none;
}

@media only screen and (max-width: 767.98px) {
  #cj-globalnav {
    overflow-y: hidden;
    transition:
      background 0.44s 0.2s cubic-bezier(0.52, 0.16, 0.24, 1),
      height 0.56s cubic-bezier(0.52, 0.16, 0.24, 1);
  }

  #cj-menustate:checked ~ #cj-globalnav {
    height: 100svh;
    transition:
      background 0.36s cubic-bezier(0.32, 0.08, 0.24, 1),
      height 0.56s cubic-bezier(0.52, 0.16, 0.24, 1);
  }
}
