/* ==========
   NAV ITEMS
   ========== */

#cj-globalnav .cj-list {
  width: auto;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@media screen and (max-width: 767.98px) {
  #cj-globalnav .cj-list {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    gap: 8px;
    visibility: hidden;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    transition: visibility 0s linear 1s;
    height: auto;
  }

  #cj-menustate:checked ~ #cj-globalnav .cj-list {
    visibility: visible;
    transition-delay: 0s;
  }
}

/* =================
   NAV ITEM ANIMATIONS
   ================= */

@media only screen and (max-width: 767.98px) {
  #cj-globalnav .cj-item-menu {
    opacity: 0;
    pointer-events: none;
  }
  #cj-globalnav .cj-item-menu:nth-child(2) {
    transform: translateY(-8px);
    transition:
      opacity 0.3345s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.15s,
      transform 0.4669s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.108s;
  }
  #cj-globalnav .cj-item-menu:nth-child(3) {
    transform: translateY(-16px);
    transition:
      opacity 0.30573s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.13667s,
      transform 0.45552s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.09933s;
  }

  #cj-globalnav .cj-item-menu:nth-child(4) {
    transform: translateY(-24px);
    transition:
      opacity 0.28122s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.12333s,
      transform 0.44574s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.09067s;
  }

  #cj-globalnav .cj-item-menu:nth-child(5) {
    transform: translateY(-32px);
    transition:
      opacity 0.25774s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.11067s,
      transform 0.43796s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.088s;
  }

  #cj-globalnav .cj-item-menu:nth-child(6) {
    transform: translateY(-40px);
    transition:
      opacity 0.23426s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.09667s,
      transform 0.42818s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.08067s;
  }

  #cj-menustate:checked ~ #cj-globalnav .cj-item-menu,
  #cj-menustate:target ~ #cj-globalnav .cj-item-menu {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: none;
    transform: none;
  }
  #cj-menustate:checked ~ #cj-globalnav .cj-item-menu:nth-child(2),
  #cj-menustate:target ~ #cj-globalnav .cj-item-menu:nth-child(2) {
    -webkit-transition:
      opacity 0.3091s cubic-bezier(0.32, 0.08, 0.24, 1) 0.03s,
      -webkit-transform 0.3455s cubic-bezier(0.32, 0.08, 0.24, 1) 0.02s;
    transition:
      opacity 0.3091s cubic-bezier(0.32, 0.08, 0.24, 1) 0.03s,
      -webkit-transform 0.3455s cubic-bezier(0.32, 0.08, 0.24, 1) 0.02s;
    transition:
      opacity 0.3091s cubic-bezier(0.32, 0.08, 0.24, 1) 0.03s,
      transform 0.3455s cubic-bezier(0.32, 0.08, 0.24, 1) 0.02s;
    transition:
      opacity 0.3091s cubic-bezier(0, 0.57, 0.24, 1) 0.03s,
      transform 0.3455s cubic-bezier(0.32, 0.08, 0.24, 1) 0.02s,
      -webkit-transform 0.3455s cubic-bezier(0.32, 0.08, 0.24, 1) 0.02s;
  }
  #cj-menustate:checked ~ #cj-globalnav .cj-item-menu:nth-child(3),
  #cj-menustate:target ~ #cj-globalnav .cj-item-menu:nth-child(3) {
    -webkit-transition:
      opacity 0.31812s cubic-bezier(0.32, 0.08, 0.24, 1) 0.04333s,
      -webkit-transform 0.35351s cubic-bezier(0.32, 0.08, 0.24, 1) 0.03333s;
    transition:
      opacity 0.31812s cubic-bezier(0.32, 0.08, 0.24, 1) 0.04333s,
      -webkit-transform 0.35351s cubic-bezier(0.32, 0.08, 0.24, 1) 0.03333s;
    transition:
      opacity 0.31812s cubic-bezier(0.32, 0.08, 0.24, 1) 0.04333s,
      transform 0.35351s cubic-bezier(0.32, 0.08, 0.24, 1) 0.03333s;
    transition:
      opacity 0.31812s cubic-bezier(0.32, 0.08, 0.24, 1) 0.04333s,
      transform 0.35351s cubic-bezier(0.32, 0.08, 0.24, 1) 0.03333s,
      -webkit-transform 0.35351s cubic-bezier(0.32, 0.08, 0.24, 1) 0.03333s;
  }
  #cj-menustate:checked ~ #cj-globalnav .cj-item-menu:nth-child(4),
  #cj-menustate:target ~ #cj-globalnav .cj-item-menu:nth-child(4) {
    -webkit-transition:
      opacity 0.32664s cubic-bezier(0.32, 0.08, 0.24, 1) 0.05667s,
      -webkit-transform 0.36347s cubic-bezier(0.32, 0.08, 0.24, 1) 0.04667s;
    transition:
      opacity 0.32664s cubic-bezier(0.32, 0.08, 0.24, 1) 0.05667s,
      -webkit-transform 0.36347s cubic-bezier(0.32, 0.08, 0.24, 1) 0.04667s;
    transition:
      opacity 0.32664s cubic-bezier(0.32, 0.08, 0.24, 1) 0.05667s,
      transform 0.36347s cubic-bezier(0.32, 0.08, 0.24, 1) 0.04667s;
    transition:
      opacity 0.32664s cubic-bezier(0.32, 0.08, 0.24, 1) 0.05667s,
      transform 0.36347s cubic-bezier(0.32, 0.08, 0.24, 1) 0.04667s,
      -webkit-transform 0.36347s cubic-bezier(0.32, 0.08, 0.24, 1) 0.04667s;
  }
  #cj-menustate:checked ~ #cj-globalnav .cj-item-menu:nth-child(5),
  #cj-menustate:target ~ #cj-globalnav .cj-item-menu:nth-child(5) {
    -webkit-transition:
      opacity 0.33467s cubic-bezier(0.32, 0.08, 0.24, 1) 0.07s,
      -webkit-transform 0.37539s cubic-bezier(0.32, 0.08, 0.24, 1) 0.06s;
    transition:
      opacity 0.33467s cubic-bezier(0.32, 0.08, 0.24, 1) 0.07s,
      -webkit-transform 0.37539s cubic-bezier(0.32, 0.08, 0.24, 1) 0.06s;
    transition:
      opacity 0.33467s cubic-bezier(0.32, 0.08, 0.24, 1) 0.07s,
      transform 0.37539s cubic-bezier(0.32, 0.08, 0.24, 1) 0.06s;
    transition:
      opacity 0.33467s cubic-bezier(0.32, 0.08, 0.24, 1) 0.07s,
      transform 0.37539s cubic-bezier(0.32, 0.08, 0.24, 1) 0.06s,
      -webkit-transform 0.37539s cubic-bezier(0.32, 0.08, 0.24, 1) 0.06s;
  }
  #cj-menustate:checked ~ #cj-globalnav .cj-item-menu:nth-child(6),
  #cj-menustate:target ~ #cj-globalnav .cj-item-menu:nth-child(6) {
    -webkit-transition:
      opacity 0.3422s cubic-bezier(0.32, 0.08, 0.24, 1) 0.08333s,
      -webkit-transform 0.38926s cubic-bezier(0.32, 0.08, 0.24, 1) 0.07333s;
    transition:
      opacity 0.3422s cubic-bezier(0.32, 0.08, 0.24, 1) 0.08333s,
      -webkit-transform 0.38926s cubic-bezier(0.32, 0.08, 0.24, 1) 0.07333s;
    transition:
      opacity 0.3422s cubic-bezier(0.32, 0.08, 0.24, 1) 0.08333s,
      transform 0.38926s cubic-bezier(0.32, 0.08, 0.24, 1) 0.07333s;
    transition:
      opacity 0.3422s cubic-bezier(0.32, 0.08, 0.24, 1) 0.08333s,
      transform 0.38926s cubic-bezier(0.32, 0.08, 0.24, 1) 0.07333s,
      -webkit-transform 0.38926s cubic-bezier(0.32, 0.08, 0.24, 1) 0.07333s;
  }
}
